<!DOCTYPE html>
<html>
  <head>
    <title>Game</title>
  </head>
  <body>
    <h1>Welcome to the game! Follow the steps below to play...</h1>
    <form action="/madlib">
      <label>Enter a random first name of your choosing, male or female:</label>
      <input type="text" name="madperson" /><br />
      <label>Select a color: </label>
      <select name="color">
        <option value="red">Red</option>
        <option value="blue">Blue</option>
        <option value="green">Green</option></select
      ><br />
      <label>Type a random noun:</label>
      <input type="text" name="noun" /><br />
      <label>Enter any random adjective: </label>
      <input type="text" name="adj" /><br />
      <input type="submit" />
    </form>
  </body>
</html>
